{% extends "base.html" %}

{% block content %}

<h2>Выбирите инфомацию о матчах какой лиги вы хотите посмотреть</h2>

<div class="col-md6 border rounded">
    <div>
        <a class="btn btn-success" href="/matches_toures_EPL">Английская футбольная Преьмер лига</a>
        <br>
        <br>
        <a class="btn btn-success" href="/matches_toures_PD">Испанская футбольная премьер лига - Ла Лига</a>
        <br>
        <br>
        <a class="btn btn-success" href="/matches_toures_BL1">Немецкая футбольная премьер лига - Бундеслига</a>
        <br>
        <br>
        <a class="btn btn-success" href="/matches_toures_SA">Итальянская футбольная премьер лига - Серия А</a>
        <br>
        <br>
        <a class="btn btn-success" href="/matches_toures_FL1">Французская футбольная премьер лига - Лига 1</a>
        <br>
        <br>
        <a class="btn btn-success" href="/matches_toures_BSA">Бразильская премьер лига</a>
        <br>
        <br>
        <a class="btn btn-success" href="/matches_toures_DED">Голландская премьер лига</a>
        <br>
        <br>
        <a class="btn btn-success" href="/matches_toures_PPL">Португальская премьер лига</a>
    </div>
</div>

{% endblock %}